<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411284133230-7clrcr87t2tdnutmr0nh1307p57gjoo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411284133230-7clrcr87t2tdnutmr0nh1307p57gjoo5</string>
	<key>API_KEY</key>
	<string>AIzaSyAk4RDo5_PPugKt4H2UiFnTKmZnVsyKdAk</string>
	<key>GCM_SENDER_ID</key>
	<string>411284133230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Urban.Drift</string>
	<key>PROJECT_ID</key>
	<string>driftfiles</string>
	<key>STORAGE_BUCKET</key>
	<string>driftfiles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411284133230:ios:332400b63dad5e5c679d7f</string>
</dict>
</plist>